.edit-screen {
    display: none;
}

.edit-screen .text-input {
    width: 95%;
    border-radius: .3rem;
    padding: .6rem;
}

.edit-container {
    justify-items: center;
    max-width: 650px;
    max-height: 650px;
}

.control-panel {
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;
}

.control-panel>* {
    justify-content: space-evenly;
    align-items: center;
}

.control-panel img {
    height: 30px;
    width: 30px;
    background-color: white;
    padding: 2px;
    border-radius: .2rem;
    cursor: pointer;
    margin: auto 2px;
}

.control-panel img:hover,
.control-panel a:hover {
    background-color: var(--clr2);

}

.fill-collor {
    position: relative;
}

.stroke {
    position: relative;
}

#color-picker {
    position: absolute;
    height: 40px;
    width: 40px;
    opacity: 0;
}

.stroke #color-picker {
    left: 25px;
}

.font-family select {
    font-family: 'Impact';
}

#fb-logo {
    background-color: #3F62A9;
    color: whitesmoke;
}

.share a {
    text-decoration: none;
    color: black;
}

.share a:hover {
    color: var(--clr3);
}