.saved-container {
    margin: 1rem auto;
}

.saved-container img {
    object-fit: cover;
    height: 100px;
    width: 100px;
    margin-bottom: 1rem;
    border-radius: .5rem;
    cursor: pointer;
}

.saved-container img:hover {
    padding: .2rem;
    outline: .1rem solid var(--clr2);
}