.main-layout {
    margin: 0 auto;
    padding: 0 1rem;
}

.gallery-layout {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: center;
    grid-gap: .7rem;
}