.main-layout {
    margin: 0 auto;
    padding: 0 1rem;
}

.gallery-layout {
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.edit-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}