
.search-bar {
    background-color: whitesmoke;
    width: 100vw;
    gap: 1rem
}

.gallery img {
    width: 100%;
    cursor: pointer;
}

.gallery img:hover {
    padding: .15rem;
    outline: .1rem solid var(--clr2);
}