header {
    background-color: var(--clr2);
    margin-bottom: 1rem;
}

.header-container {
    height: 5rem;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 14rem;
    cursor: pointer;
}

.nav-bar {
    position: absolute;
    flex-direction: column;
    gap: 5rem;
    right: 0;
    top: 80px;
    height: 100%;
    background-color: #ff8000b6;
    transition: max-width 0.6s;
    max-width: 0;
    overflow: hidden;
    border-radius: .2rem;
}

body.menu-open .nav-bar {
    width: 33%;
    box-shadow: 0 3px 6px 0 var(--clr3);
    max-width: 100%;
}

.nav-bar a {
    font-size: 1.5rem;
}

.nav-bar a:hover {
    color: var(--clr4);
}

button.menu-toggle {
    display: block;
    align-items: center;
    width: 60px;
    height: 80px;
    font-size: 40px;
    border: none;
    background-color: transparent;
}

.suggestions {
    width: 80%;
    color: var(--clr3);
    justify-content: space-evenly;
    align-items: center;
    display: none;
}

.suggestions li {
    cursor: pointer;
}

.search-bar img {
    height: 22px;
    width: 22px;
    cursor: pointer;
    align-self: center;
}

.search-memes {
    justify-content: center;
    align-items: center;
}

.search-memes .text-input {
    text-align: center;
    border-radius: 5rem;
    padding: .2rem;
    margin: 1rem;
    border: none;
    font-size: 1.3rem;
    height: 90%
}

.search-memes .text-input:focus {
    background-color: #f78102bd;
}